* {
  margin: 0;
  padding: 0;
}

:root {
  --color-fff: #fff;
  --color-grey: grey;
  --font-13px: 13px;
}

body {
  background-color: var(--color-fff);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.grid2-right a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.d-flex {
  display: flex;
}

.title {
  position: absolute;
  left: 45%;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.border-t-style {
  border-top-style: solid;
}

.t-align-left {
  text-align: left;
}

.t-align-center {
  text-align: center;
}

.space-btn {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.d-grid {
  display: grid;
}

.float-right {
  float: right;
}

.font-weight-lighter {
  font-weight: lighter;
}

.height-auto {
  height: auto;
}

.border-b-style {
  border-bottom-style: solid;
}

.border-t-width {
  border-top-width: 1px;
}

.pad-right {
  padding-right: 20px;
}

.pad-top {
  padding-top: 10px;
}

.nav-bar {
  padding-bottom: 10px;
  height: 40px;
  max-height: 40px;
  background-color: var(--color-fff);
  position: fixed;
  border-bottom-width: 0.3px;
  border-bottom-color: var(--color-grey);
}

.icons {
  white-space: nowrap;
}

.icons i {
  margin-right: 30px;
}

.spacecosmos {
  color: #000;
  position: absolute;
  left: 13%;
}

.icon1 {
  margin-left: 20px;
}

.nav-btn button {
  background-color: #326891;
  height: 35px;
  border: none;
  border-radius: 3px;
  color: var(--color-fff);
}

.nav-btn {
  white-space: nowrap;
  padding-left: 20px;
}

.subscribe {
  width: 120px;
}

.log-in {
  width: 70px;
}

.editor {
  width: 10%;
  margin-right: 5%;
  margin-left: 15%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 25%;
}

.aside1 {
  max-width: 90px;
  padding-right: 70px;
}

.aside1-title {
  max-width: 200px;
  padding-left: 40px;
}

.aside {
  grid-template-columns: 20% 80%;
  padding-bottom: 30px;
  margin-left: 120px;
}

.aside a {
  color: #000;
}

.article-header {
  padding-top: 100px;
  float: left;
}

.article-title h1 {
  font-style: italic;
}

.cell-1 img {
  width: 100%;
}

.theory-grid img {
  width: 200px;
  height: auto;
}

.theory-2 img {
  padding-bottom: 30px;
}

.theory-3 img {
  padding-bottom: 10px;
}

.theory-6 img {
  padding-bottom: 9px;
}

#article-image img {
  width: 100%;
  max-width: 1100px;
  text-align: center;
}

#article-image {
  width: 80%;
  margin: auto;
}

#article-image h4 {
  color: var(--color-grey);
}

#article-image h6 {
  font-size: var(--font-13px);
}

#article-title {
  padding-bottom: 40px;
  max-width: 450px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

.description {
  grid-template-columns: 1fr 1fr;
  grid-gap: 250px;
  margin-top: 50px;
}

.grid1-left {
  align-items: flex-start;
  justify-content: left;
  width: 200px;
}

.grid1-par {
  margin-bottom: 20px;
}

.grid1-right {
  align-items: flex-end;
}

.article {
  max-width: 550px;
  font-size: 1.25rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  color: #000;
  line-height: 2rem;
  float: left;
  width: 70%;
  padding: 20px 40px 20px 30%;
}

.hr-1 {
  font-size: 15px;
  border-top-color: var(--color-grey);
  border-top-width: 2px;
  width: 250px;
  margin-left: 30%;
  border-bottom-color: var(--color-grey);
  border-bottom-width: 2px;
  padding-bottom: 10px;
}

.as-big {
  font-weight: 700;
  color: #000;
  font-size: 20px;
}

.theory-grid {
  max-width: 800px;
  margin-right: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
  margin-left: -150px;
}

.theory-title {
  margin-right: 50%;
  margin-top: 20px;
  margin-left: -150px;
  width: 150%;
}

.theory-grid div {
  margin: 10px;
  width: 200px;
  height: 400px;
  font-size: 12px;
  line-height: 25px;
}

.theory-8 p {
  margin-top: -15px;
}

.video-title {
  font-size: var(--font-13px);
  color: #000;
  height: 20px;
  min-width: 700px;
  margin-top: -5px;
}

.captions {
  padding-bottom: 70px;
  font-size: var(--font-13px);
  color: #000;
  height: 20px;
  min-width: 700px;
}

.video-channel {
  font-size: 9px;
  color: var(--color-grey);
  height: 15px;
  padding-bottom: 50px;
}

.telescope {
  max-width: 700px;
}

#article-info {
  font-size: var(--font-13px);
  color: var(--color-grey);
  min-width: 800px;
}

.comments {
  background-color: #326891;
  height: 35px;
  border: none;
  border-radius: 3px;
  color: var(--color-fff);
  margin-top: 30px;
  width: 300px;
}

.comments-icons {
  align-items: flex-end;
  width: 150px;
}

.gallery {
  grid-template-columns: 70% 30%;
  clear: both;
  grid-column-gap: 20px;
  height: 650px;
  margin-left: 5%;
  margin-right: 5%;
}

.grid2-left {
  grid-template-rows: 1fr 6fr 6fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
}

.grid-title {
  grid-row: 1;
  grid-column: 1/4;
  font-weight: bolder;
}

.img-description {
  text-align: right;
  color: var(--color-grey);
}

.grid2-right {
  padding-top: 20px;
}

.footer {
  border-top-color: gray;
  margin: 130px 5% 60px;
}

.footer-head {
  margin-top: 15px;
}

.footer-head a {
  color: #6b7baf;
}

.footer-content {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom-color: var(--color-grey);
  border-bottom-width: 0.5px;
}

.footer-content a {
  color: #000;
  font-family: sans-serif;
  font-size: var(--font-13px);
}

.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}

.col-3 {
  grid-column: 3;
}

.col-4 {
  grid-column: 4;
}

.col-5 {
  grid-column: 5;
}

.col-6 {
  grid-column: 6;
  border-left-style: solid;
  border-left-color: var(--color-grey);
  border-left-width: 1px;
  padding-left: 10px;
}

.footer-end {
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  background-color: var(--color-fff);
  border-top-color: #000;
  margin-top: 30px;
  height: 40px;
}

.fixed-footer-par {
  margin-left: 30%;
  margin-right: 25%;
}

.fixed-footer-link {
  color: #000;
  margin-right: 20px;
}

.comments-icons i,
.cell-1 h5 {
  color: var(--color-grey);
}

.icons i:hover,
button:hover {
  cursor: pointer;
}

.grid1-right a,
.footer-end a {
  color: var(--color-grey);
}
