* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #F7F7F7;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 40px;
    max-height: 40px;
    background-color: white;
    position: fixed;
    width: 100%;
}

.icons {
  white-space: nowrap;
  padding-right: 20px;
}

.icons i{
    margin-right: 30px;
}
.icons a{
    text-decoration: none;
    color: black;
}
.icon1{
    margin-left: 20px;
}
.icons i:hover {
    cursor: pointer;
}
.nav-btn button{
    background-color: #326891;
    height: 35px;
    border: none;
    border-radius: 3px;
    color: white;
}

.nav-btn {
  white-space: nowrap;
  padding-left: 20px;
}

.subscribe {
    width: 120px;
}
.log-in {
    width: 70px;

}
button:hover{
    cursor: pointer;
}

.article-container{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  width: 100%
}

#article-image img{
  width: 700px;

}

#article-image {
  margin-left: 25%;
  margin-right: 25%;
}

#article-image h4{
  font-weight: lighter;
  color: grey;
}

#article-image h6{
  font-weight: lighter;
  font-size: 13px;
}



#article-title {
  padding-bottom: 40px;
  max-width: 450px;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}
